@font-face {
  font-family: 'Open Sans';
       src: url('mpdf60/ttfonts/OpenSansRegular.ttf');
	}

body {
	background-color: #faf7fa;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}

/* New bit starts here */

#wholepage {
  min-width: 100%;
	display: flex;
	flex-direction: row;
}

#postcontainer {
  padding-left: 5%;
  min-height: 100%;
}

#buttonbar {
  width: 7%;
  margin-top: 18%;
  position: fixed;
  font-size: 30pt;
}

#buttonbar ul {
  list-style-type: none;
}

#buttonbar li {
  padding-bottom: 20%;
}

#buttonbar span {
  cursor:pointer;
}

#sidebar {
	display: flex;
	width: 14%;
	min-height: 100%;
	background-color: rgb(38, 164, 235);
  position: fixed;
  padding-top: 50px;
}

#sidebar-left {
	width: 70px;
}

#sidebar ul {
	min-height: 100%;
	list-style-type: none;
	padding-left: 0;
}

#sidebar li {
	height: 50px;
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
}

#sidebar-left li {
	border: 4px solid white;
	border-radius: 10px;
  cursor: pointer;
}

#sidebar-right li {
	padding-top: 10px;
  color: white;
}

.incomplete {
  color: rgb(38, 164, 235);
}

.current {
	font-weight: bold;
}

.current-box {
	background-color: white;
	color: white;
}

.completed {
	background-color: grey;
	border-color: grey !important;
}

.completed span {
	color: white;
	font-size: 25pt;
	padding-left: 5px;
	padding-top: 5px;
}


.row {
  display:flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;
}

.col-left {
  min-width: 50%;
}

.col-right {
  min-width: 50%;
}

.col-wholepage {
  width: 100%;
}

input {
  width: 90%;
  line-height: 40px;
  font-size: 20px;
}

input, label {
  display: block;
}

label {
  font-size: 20pt;
  font-weight: normal;
}

/* New bit ends here */

* {
	font-family: 'Open Sans';
}

.btn {
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	color: #000000;
	font-size: 12px;
	border: solid #3c84b0 2px;
	background: none;
}

h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 28pt;
}

legend {
	font-size: 30pt;
	text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 12pt;
}


.btn.outline {
	background: none;
	padding: 12px 22px;
}

.navbar {
	background-color: black;
}

#container {
	margin-top: 5%;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

button {
	display: inline;
}

textarea {
  resize: none;
  font-size: 16px;
}

#personalstatementsection textarea {
  height: 600px;
}

#output {
	text-align: center;
	background-color: lightgrey;
}

.mainform {
	display: none;
}

#languages {
	padding-bottom: 10px;
}

#centered {
	position: float;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.largetextfield {
	margin-left: auto;
	background-color: #f6f6f6;
	border-style: hidden;
}

::-webkit-input-placeholder {
	color: #a8a8a8;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a8a8a8;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a8a8a8;
}

:-ms-input-placeholder {
	color: #a8a8a8;
}

.BodyMain {
	display: flex;
	min-height: 100vh;
}

#content {
	width: 79%;
  min-height: 100%;
	background-color: #ffffff;
  margin-left: 14%;
}

.center {
	position: float;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.submitdiv {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	background-color: 555555;
	border: 3px solid green;
}

.btnmain {
	text-align:right;
	position: fixed;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	color: #000000;
	font-size: 24px;
	background: none;
	font-size: 24pt;
	width: 15%;
}

.btnCreate {
	position: fixed;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	color: #000000;
	font-size: 24pt;
	width: 15%;

}

.btnmake {
	position: fixed;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	color: #000000;
	font-size: 24px;
	border: solid #555555 5px;
	background: none;
	width: 15%;
	vertical-align: middle;
}

textarea {
	width: 100%;
	margin-bottom: 2%;
}

.styledselect {
	width: 100%;
	margin-bottom: 2%;
}

/* Stuff that Mark added for personal qualities */
.QualitiesFlex {
	display: flex;
}

.disabledText {
	color: #888;
	font-style: italic;
}

.redAsterisk {
	color: red;
}

.FlexColumn {
  min-width: 25%;
}

/*AV: CV Preview - Styled Button added*/
.cvpreviewbtn {
		list-style-type: none;
		float: right;
}

/*AV: CV Template*/
.cvtemplates {
  margin:30px;
}
