@font-face {
  font-family: 'Open Sans';
       src: url('mpdf60/ttfonts/OpenSansRegular.ttf');
	}

body {
	background-color: #faf7fa;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
}


/* New bit starts here */

#wholepage {
  min-width: 100%;
	display: flex;
	flex-direction: row;
}

#postcontainer {
  padding-right: 5%;
  min-height: 100%;
}

#buttonbar {
  position: relative;
  right: 0;
  width: 7%;
  float:right;
  font-size: 30pt;
}

#buttonbar ul {
  list-style-type: none;
  margin-top: 35vh;
}

#buttonbar li {
  padding-bottom: 20%;
}

#buttonbar span {
  cursor:pointer;
}

#sidebar {
	display: flex;
  position: fixed;
	background-color: rgb(38, 164, 235);
  float: left;
  padding-top:4em;
  padding-bottom: 4em;
}

#sidebar-left {
	width: 30%;
  height: 100%;
  padding-left: 5%;
}

#sidebar-right {
  height: 100%;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 0;
  min-height: 100%;
}

#sidebar li {

}

#sidebar-left li {
	border: 4px solid white;
	border-radius: 10px;
  cursor: pointer;

}

#sidebar-right li {
  color: white;
}

.incomplete {
  color: rgb(38, 164, 235);
}

.incomplete-required {
  color: rgb(38, 164, 235);
}

.current {
	font-weight: bold;
}

.current-box {
	background-color: white;
	color: white;
}

.completed span {
	color: white;
  padding-left: 5px;
	padding-top: 5px;
}

.row {
  display:flex;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;
}

.col-left {
  min-width: 50%;
  padding-right: 2%;
}

.col-right {
  min-width: 50%;
  padding-left: 2%;
}

.col-wholepage {
  width: 100%;
}

input:not([type="radio"]){ /** MKH: Employment Section - Radio button and text placed on the same row **/
  width: 100%;
}
  

input {
  line-height: 40px;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

input[type="button"] {
  width: 200px;
  height: 50px;
  color: white;
  border-color: rgb(38, 164, 235);
  background-color: rgb(38, 164, 235);
  float: right;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 18pt;
  text-transform: capitalize;
}

input[type="button"]:hover {
  color: white;
  border-color: rgb(8, 134, 205);
  background-color: rgb(8, 134, 205);
}
input[type="button"]:focus {
  color: white;
  background-color: rgb(38, 164, 235);
}

input:not([type="radio"]), label { /** MKH: Employment Section - Radio button and text placed on the same row **/
  display: block;
}

label {
  font-size: 20pt;
  font-weight: normal;
}

/* New bit ends here */

* {
	font-family: 'Open Sans';
}

.btn {
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	color: #000000;
	font-size: 12px;
	border: solid #3c84b0 2px;
	background: none;
}

h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 28pt;
}

legend {
	font-size: 30pt;
	text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 12pt;
}


.navbar {
	background-color: black;
}

#container {
	margin-top: 5%;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

textarea {
  resize: none;
  font-size: 20px;
  padding: 10px;
}

textarea:focus {
  border: 1px solid rgb(38, 164, 235);
}

#personalstatementsection textarea {
  margin-top: 5%;
  height: 80%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#output {
	text-align: center;
	background-color: lightgrey;
}

.mainform {
	display: none;
}

#languages-container {
  padding-bottom: 5%;
}

#languages input {
  margin-bottom: 1%;
}

#centered {
	position: float;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.largetextfield {
	margin-left: auto;
	background-color: #f6f6f6;
	border-style: hidden;
}

::-webkit-input-placeholder {
	color: #a8a8a8;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a8a8a8;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a8a8a8;
}

:-ms-input-placeholder {
	color: #a8a8a8;
}

.BodyMain {
	display: flex;
	min-height: 100vh;
}

#content {
	width: 79%;
  min-height: 100%;
	background-color: #ffffff;
  margin-left: 20%;
}

.center {
	position: float;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.submitdiv {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	background-color: 555555;
	border: 3px solid green;
}

textarea {
	width: 100%;
	margin-bottom: 2%;
}

.styledselect {
	width: 100%;
	margin-bottom: 2%;
}

/* Stuff that Mark added for personal qualities */
.QualitiesFlex {
  -moz-columns: 3;
  columns: 3;
}

.QualitiesFlex label {
  font-size: 16pt;
}

.QualitiesFlex input {
  display: inline;
  width: auto;
}

.disabledText {
	color: #888;
	font-style: italic;
}


/* Tooltip styling */
.ui-tooltip {

}

.ui-tooltip-content {

}

.ui-tooltip-content a {
  text-decoration: underline;
}

.redAsterisk {
	color: red;
}

.FlexColumn {
  min-width: 25%;
}

/*AV: CV Preview - Styled Button added*/
.cvpreviewbtn {
		list-style-type: none;
		float: right;
}

/*AV: CV Template*/
.cvtemplates {
  margin:30px;
}
