/* navbar */
body {
	background-color: #faf7fa;
	font-family: Helvetica, Arial, sans-serif;
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

html {
	min-height: 100%;
}

* {
	font-family: Helvetica;
}

.btn {
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	-webkit-border-radius: 10;
	-moz-border-radius: 10;
	border-radius: 10px;
	color: #000000;
	font-size: 12px;
	border: solid #3c84b0 2px;
	background: none;
}

h1 {
	margin-top: 5%;
	margin-bottom: 5%;
	font-size: 28pt;
}

legend {
	font-size: 20pt;
}

h2 {
	font-size: 16pt;
}

h3 {
	font-size: 12pt;
}


.btn.outline {
	background: none;
	padding: 12px 22px;
}

.navbar {
	background-color: black;
}

#container {
	margin-top: 5%;
	width: 100%;
	padding-left: 15%;
	padding-right: 15%;
}

button {
	display: inline;
}

textarea {
	resize: vertical;
	maxh-height: 70%;
	rows: 100;
}

#output {
	text-align: center;
	background-color: lightgrey;
}

.mainform {
	display: none;
}

#languages {
	padding-bottom: 10px;
}

input[type=text] {
	width: 100%;
	height: 30px;
	border: 1px solid #000000;
	background-color: #ffffff;
	border-radius: 10px;
	border-style: solid;;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type=text]:focus {
	background-color: #f6f6f6;
	border: 1px solid #000000;
	width: 100%;
	border-radius: 10px;
	border-style: solid;
}

input[type=email] {
	width: 100%;
	height: 30px;
	border: 1px solid #000000;
	background-color: #ffffff;
	border-radius: 10px;
	border-style: solid;;
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
}

input[type=email]:focus {
	background-color: #f6f6f6;
	border: 1px solid #000000;
	width: 50%;
	border-radius: 10px;
	border-style: solid;
}

#centered {
	position: float;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.largetextfield {
	margin-left: auto;
	background-color: #f6f6f6;
	border-radius: 10px;
	border-style: hidden;
}

::-webkit-input-placeholder {
	color: #a8a8a8;
}

:-moz-placeholder { /* Firefox 18- */
	color: #a8a8a8;
}

::-moz-placeholder { /* Firefox 19+ */
	color: #a8a8a8;
}

:-ms-input-placeholder {
	color: #a8a8a8;
}

.BodyMain {
	display: flex;
	min-height: 100vh;
}

.empty1 {
	display: flex;
	flex-grow: 1;
	width: 16%;
	background-color: rgb(38, 164, 235);
	height: inherit;
	padding-left: 50px;
	padding-top: 200px;
}

.content {
	flex-grow: 1;
	width: 48%;
	background-color: #ffffff;
	margin-left: 15px;
	margin-right: 15px;
	height: 100%;
}

.center {
	position: float;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.submitdiv {
	flex-grow: 1;
	width: 100%;
	height: 100%;
	background-color: 555555;
	border: 3px solid green;
}

.empty2 {
	display: flex;
	flex-grow: 1;
	width: 16%;
	background-color: rgb(38, 164, 235);
	height: inherit;
	padding-left: 50px;
	padding-top: 200px;
}
.btnmain {
	text-align:right;
	position: fixed;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #000000;
	font-size: 24px;
	background: none;
	font-size: 24pt;
	width: 15%;
}

.btnCreate {
	position: fixed;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #000000;
	font-size: 24pt;
	width: 15%;

}

.btnmake {
	position: fixed;
	background: #ffffff;
	background-image: -webkit-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -moz-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -ms-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: -o-linear-gradient(top, #ffffff, #e0e0e0);
	background-image: linear-gradient(to bottom, #ffffff, #e0e0e0);
	-webkit-border-radius: 5;
	-moz-border-radius: 5;
	border-radius: 5px;
	color: #000000;
	font-size: 24px;
	border: solid #555555 5px;
	background: none;
	width: 15%;
	vertical-align: middle;
}

textarea {
	width: 100%;
	margin-bottom: 2%;
}

.styledselect {
	width: 100%;
	margin-bottom: 2%;
}
