<head>
<style>
#cvpage * {
  font-size: 11pt;
}

#cvpage ul {
  margin-left: 16em;
  list-style-type: none;
  padding-bottom: 0em;
}

#restofcontent li {
  margin-top: -2.5em;
  margin-bottom: 1px;
}

#cvpage h1 {
  font-size: 35pt;
}

#cvpage h4 {
  font-size: 10pt;
  text-align: left;
  padding-top : 20pt;
  border-top: 2px solid grey;
}

#firstlastname{
  padding-top: 30px;
}

#details {
  width: 100%;
}

#cvheader h4, #details p{
  display: none;
}

#individual {
  color: grey;
  text-align: right;
  margin-bottom: 10px;
  margin-left: 30em;
  margin-top: -8em;
}

#employmentresponsibility{
  padding-bottom: 20px;
}

#educationachievement, #awardsachievements, #refereephone{
  padding-bottom: 30px;
}

</style>
</head>
